<div class="bg-container">
  <div class="signup-card">
    <%= form_for @user, url: '/request_signup' do |u| %>
        <label class="<%= error_class(@user.errors.messages[:name]) %>">First name</label>
        <%= error_message(@user.errors.messages[:name]) %>
        <%= u.text_field :name, placeholder: 'Enter first name' %>
        <label class="<%= error_class(@user.errors.messages[:surname]) %>">Last name</label>
        <%= error_message(@user.errors.messages[:surname]) %>
        <%= u.text_field :surname, placeholder: 'Enter last name' %>
        <label class="<%= error_class(@user.errors.messages[:username]) %>">Email</label>
        <%= error_message(@user.errors.messages[:username]) %>
        <%= u.text_field :username, placeholder: 'Enter email address' %>
        <button type="submit" class="btn btn-block btn-success">Request account</button>
    <% end %>
  </div>
</div>

<%= stylesheet_link_tag 'sign_up' %>