<div class="bg-container">
  <div class="signup-card">
    <%= form_for @user, url: '/authenticate' do |u| %>
        <h1>Sign in</h1>
        <%= u.hidden_field :remember_token, value: true %>
        <!--Email-->
        <label class="<%= error_class(@user.errors.messages[:email]) %>">Email</label>
        <%= error_message(@user.errors.messages[:email]) %>
        <%= u.text_field :email, placeholder: 'Enter email address' %>

        <!--Password-->
        <label class="<%= error_class(@user.errors.messages[:password]) %>">Password</label>
        <%= error_message(@user.errors.messages[:password]) %>
        <%= u.password_field :password, placeholder: 'Enter password' %>

        <!--Flash error-->
        <% if flash[:unauthorized] %>
            <div>
              <label class="control-label">Unauthorized, please sign in again.</label>
            </div>
        <% end %>
        <!--Invalid username or password-->
        <% if flash[:invalid_details] %>
            <div>
              <label class="control-label">Invalid username or password.</label>
            </div>
        <% end %>


        <button type="submit" class="btn btn-block btn-success">Sign in</button>
    <% end %>
  </div>
</div>

<%= stylesheet_link_tag 'logged_out' %>
<%= stylesheet_link_tag 'sign_in' %>