<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"><%= @description %></h3>
        </div>
        <div class="box-body">
          <%= form_for @user, url: @description == 'Edit user' ? '/admin/users/update' : '/admin/users/create' do |user| %>
              <%= user.hidden_field :id %>
              <div class="form-group <%= error_class(@user.errors.messages[:name]) %>">
                <label>Name</label>
                <%= error_message(@user.errors.messages[:name]) %>
                <%= user.text_field :name, class: 'form-control', placeholder: 'Enter name' %>
              </div>
              <div class="form-group <%= error_class(@user.errors.messages[:surname]) %>">
                <label>Last name</label>
                <%= error_message(@user.errors.messages[:surname]) %>
                <%= user.text_field :surname, class: 'form-control', placeholder: 'Enter last name' %>
              </div>
              <div class="form-group <%= error_class(@user.errors.messages[:email]) %>">
                <label>Email address</label>
                <%= error_message(@user.errors.messages[:email]) %>
                <%= user.text_field :email, class: 'form-control', placeholder: 'Enter email', type: 'email' %>
              </div>
              <div class="form-group <%= error_class(@user.errors.messages[:is_admin]) %>">
                <label>Admin</label>
                <%= error_message(@user.errors.messages[:is_admin]) %>
                <%= user.check_box :is_admin, class: 'form-control'%>
              </div>

              <div class="button-section">
                <button type="submit" class="btn btn-success">Save</button>
                <a href="/admin/users" class="btn btn-danger btn-cancel">Cancel</a>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>