<section class="content-header">
  <h1>
    User
    <small>
      <!--Put text here if you want it to display small-->
    </small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i>Home</a></li>
    <li class="active">User</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">List all users</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-3">
            Name
            </div>
            <div class="col-md-3">
              <%= @user.name %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              Surname
            </div>
            <div class="col-md-3">
              <%= @user.surname %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              Email
            </div>
            <div class="col-md-3">
              <%= @user.email %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              Approved
            </div>
            <div class="col-md-3">
              <%= @user.is_signup_request ? 'No' : 'Yes' %>
            </div>
          </div>
          </br>
          <div class="button-section">
            <div>
              <a href="/admin/users" class="btn btn-danger btn-cancel float-right">Cancel</a>
              <% if @user.is_signup_request %>
                  <a href="/admin/users/<%= @user.id %>/approve" class="btn btn-success">Approve</a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>