<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"><%= @description %></h3>
        </div>
        <div class="box-body">
          <%= form_for @tracking, url: @description == 'Edit tracking' ? '/users/trackings/update' : '/users/trackings/create' do |tracking| %>
              <%= tracking.hidden_field :id, value: @tracking.id %>
              <%= tracking.hidden_field :user_id, value: cookies[:active_user_id] %>
              <div class="form-group <%= error_class(@tracking.errors.messages[:tracking_number]) %>">
                <label>Tracking number</label>
                <%= error_message(@tracking.errors.messages[:tracking_number]) %>
                <%= tracking.text_field :tracking_number, class: 'form-control', placeholder: 'Enter tracking number' %>
              </div>
              <div class="form-group <%= error_class(@tracking.errors.messages[:description]) %>">
                <label>Description</label>
                <%= error_message(@tracking.errors.messages[:description]) %>
                <%= tracking.text_field :description, class: 'form-control', placeholder: 'Enter description' %>
              </div>
              <div class="button-section">
                <button type="submit" class="btn btn-success">Save</button>
                <a href="/users/trackings" class="btn btn-danger btn-cancel">Cancel</a>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>