<!DOCTYPE html>
<html>
<head>
  <title>PostTracker</title>
  <%= csrf_meta_tags %>

  <!--Render all the references that the admin template makes use of-->
  <!--Here is a link to the admin template that is being used in this project:
  http://www.free-css.com/free-css-templates/page210/adminlte -->
  <%= render partial: 'layouts/admin_template_references' %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="skin-blue">
  <%= render partial: 'layouts/admin_body_partial.html.erb' %>
  <%= render partial: 'layouts/admin_template_body_references' %>
</body>
</html>
